/* Estilos para telas menores (dispositivos móveis) */
@media (max-width: 767px) {
    body {
      padding: 0; /* Redefinindo o padding para dispositivos móveis */
    }
  
    #logo {
      width: 110px; /* Redimensionando o logotipo para dispositivos móveis */
      margin-top: 10px;
    }
  
    form {/* Formatação do formulário */
        font-family: "Inter", sans-serif; /* Fonte */
        width: 80%; /* Redimensionando a largura do formulário para dispositivos móveis */
        margin: 20% auto 0; /* Ajustando a margem para o alinhamento central e margem superior */
        padding: 3%; /* Espaçamento interno */
        background-color: rgb(1, 14, 27); /* Cor de fundo */
        border-radius: 16px; /* Bordas arredondadas */
        box-shadow: 0 0 16px rgb(42, 71, 116); /* Sombra */
        margin-top: 40%; /* Margem superior */
        text-align: center; /* Alinhamento do texto */
        color: rgb(255, 255, 255); /* Cor do texto */
        display: flex; /* Alinhamento */
        flex-direction: column; /* Direção da disposição dos elementos */
      }
      form2{ /* Formatação do segundo formulário */
        font-family: "Inter", sans-serif; /* Fonte */
        width: 60%; /* Largura */
        margin: 20px auto 0; /* Margem para o alinhamento central e margem superior */
        padding: 0.5%; /* Espaçamento interno */
        background-color: rgb(1, 14, 27); /* Cor de fundo */
        border-radius: 16px; /* Bordas arredondadas */
        box-shadow: 0 0 16px rgb(42, 71, 116); /* Sombra */
        text-align: center; /* Alinhamento do texto */
        color: rgb(255, 255, 255); /* Cor do texto */
        display:flex; /* Alinhamento */
        flex-direction:inherit; /* Direção da disposição dos elementos */
      }
    select {
        width: 100%; /* Largura um pouco maior para compensar o padding */
        padding: 8px; /* Espaçamento interno */
        margin-bottom: 10px; /* Margem inferior */
        font-size: 13px; /* Tamanho da fonte */
        border-radius: 4px; /* Bordas arredondadas */
        margin-top: 10px; /* Margem superior */
      }
      /* Estilos para os campos de entrada de texto */
    input {
    border-radius: 4px; /* Bordas arredondadas */
    width: 95%; /* Largura total */
    padding: 8px; /* Espaçamento interno */
    }
        button {
        margin-top: 20px; /* Ajustando a margem superior do botão para dispositivos móveis */
        }
    a {/* Estilos para os links */
        color: rgb(255, 255, 255); /* Cor dos links */
        margin: 0 6px; /* Espaçamento dos links */
    }
    li { /* Estilos para os itens de navegação */
        margin-top: 20%;
    }
    
    ul {/* Estilos para a lista de itens de navegação */
        list-style: none; /* Remove os marcadores de lista */
        display: flex; /* Alinhamento */
        height: 100%; /* Altura*/
        margin: 0; /* Margem*/
        align-items: center; /* Alinha os itens ao centro */
        flex-direction: row; /* Direção da disposição dos elementos */
    }
    #data {
        border-radius: 4px; /* Bordas arredondadas */
        width: 40%; /* Largura total */
        padding: 8px; /* Espaçamento interno */
    }
}