
  @import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter&family=Mooli&display=swap');

body{
    font-family: "Mooli", "Inter";
    height: 1600px;
    background: linear-gradient(to bottom,rgb(48, 47, 47),rgb(0, 0, 0));
    margin: 0px;
    padding: 0;
    flex-direction:column;
    margin-top: 5px;  
    min-height: 100vh;
    color: rgb(231, 223, 250);
    display: flex;
}

header{
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
}

.LOGO{
    width: 150px;
    margin-right: 20px;
}
p{
    margin: 0 10px; 
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 600;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    
}

form {
    font-family: "Inter";
    width: 30%;
    margin: 50px auto; 
    padding: 24px;    background-color: rgb(238, 234, 203);
    border-radius: 16px;
    box-shadow: 0 0 16px rgba(148, 88, 70, 0.4);
    margin-top: 1%;
    text-align: center;
   color: black;
   display: flex;
   flex-direction: column;
}
label{
    display: block;
    border-radius: 8px;
    margin-bottom: 4px;
    margin-top: 8px;
 
}



button {
    background-color: rgb(74, 70, 70);
    color: #fff;
    bottom: none;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    min-width: 150px;
    max-width: 600px;
    margin-bottom: 16px;
    display: block;
    align-items: center;
    margin-bottom: 4px;
    margin-top: 8px;

}



button:hover {
    background-color: rgb(15, 15, 15);
    color: rgb(239, 245, 245);
}

input{
    border-radius: 4px;
    width: 100%;

}
select {
    width: 103%;
    padding: 0px;
    margin-bottom: 5px;
    font-size: 13px;
    border-radius: 4px;
    margin-top: 10px;
}   
